.single-group_post .page-title {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.76) 10%, rgba(162, 162, 162, 0) 80%);
    padding-left: 10px;
    margin-left: -10px;
}
.entry-card.card-content.group_post {
    display: grid;
    grid-template-columns: 1fr;

}
.entry-card.card-content.pinwall_post {
     position: relative;
}
.entry-card.type-pinwall_post::before {
    content: "\f109";
    font: 40px/1 dashicons;
    position: absolute;
    right: 25px;
}

.attendees {
    margin-top: 0px;
    border-top: 4px solid #ddd;

}
.attendees-wrapper {
    position: relative;
}
.single-group_post .attendees-wrapper {
    position: relative;
    z-index: 50;
    max-width: 500px;
    margin: -75px auto 20px;
}
@media screen and (max-width: 1200px) {
    .single-group_post .attendees-wrapper {
        position: relative;
        z-index: 50;
        margin-top: -22px;
        margin-bottom: -52px;
    }
}
.attendees-wrapper p{
    color: var(--inverse);
}
.attendees-label {
    color: var(--inverse);
    text-align: center;
}
.group_post .attendees-wrapper {
    margin-top: 10px;
}


.pinwall_post .attendees-label {
    text-align: right;
}
.group-list {
    list-style: none;
    margin-bottom: 20px!important;
    margin-left: -25px;
}
.um-group-list {

    margin-bottom: 20px!important;
    margin-left: 20px;
    padding: 0;
}
.um-group-list strong {
    margin-left: -10px;
}

.um-group-list .group-goal {
    margin-left: 37px;

}

.assoziated-groups {
    list-style: none;
}
.assoziated-group-link {
    margin-left: -10px;
    min-height: 30px;
}
.assoziated-group-link a span {
    background-color: var(--buttoncolor);
    color: var(--background);
    border-radius: 50%;
    font-size: 24px;
    height: fit-content;
    width: fit-content;
    padding: 2px;
    margin-right: 7px;
    /*margin-top: -5px;*/
    /*margin-left: -3px;*/
}
.assoziated-group-link a:hover span {
    border-radius: 50%;
    font-size: 25px;
    height: fit-content;
    width: fit-content;
    padding: 3px;
    /*margin-top: -7px;*/
    box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.3);
}

/*.assoziated-groups a{*/
/*    background-color: var(--buttoncolor);*/
/*    color: var(--inverse);*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    padding: 5px 10px;*/
/*    cursor: pointer;*/
/*    padding-left:0;*/

/*}*/
/*.assoziated-groups a:hover{*/
/*    background-color: var(--inverse);*/
/*    color: var(--buttoncolor)*/
/*}*/
.avatar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}
.pinwall_post .avatar-list {
    justify-content: right;
}
.avatar-wrapper {
    display: inline-block;
    margin-right: 5px;
    position: relative;
}

.avatar-wrapper img, .group-builder-button-container svg{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--buttoncolor);
    box-shadow: 2px 3px 6px rgb(50, 50, 50);
}

.avatar-wrapper img:hover, .group-builder-button-container svg:hover {
    border: 2px solid var(--buttoncolor);
    scale: 1.1;
}

.avatar-wrapper:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background1, #dddddd);
    color: var(--textcolor, #000000);
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
}
.single-group_post .avatar-list a {
    display: inline-block;
    opacity: 0;
    transform: translateY(-100px);
    animation: dropIn 0.5s forwards;
}

.single-group_post .avatar-list a:nth-child(1) {
    animation-delay: 0.2s;
}

.single-group_post .avatar-list a:nth-child(2) {
    animation-delay: 0.4s;
}

.single-group_post .avatar-list a:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes dropIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.show-interest,
.create-group,
.leave-group {
    cursor: pointer;
}

.show-interest:hover,
.create-group:hover,
.leave-group:hover {
    background-color: var(--buttoncolor);
}


/** Group Form **/
.edit-group, .toggle-join-option, .generate-invite-link {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: var(--gray);
    color: var(--inverse);
    border: none;
    cursor: pointer;
}

.edit-group:hover, .toggle-join-option:hover, .generate-invite-link:hover {
    background-color: var(--akcent);
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--modal-background);
}

.modal-content {
    background-color: var(--background1);
    margin: 15% auto;
    padding: 20px;
    border: var(--buttoncolor);
    width: 80%;
    max-width: 780px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.modal-close {
    color: var(--textcolor);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    color: var(--akcent);
    text-decoration: none;
    cursor: pointer;
}

/* Form Styles */
.edit-group-form,
.edit-comment-form {
    margin-top: 20px;
}

.edit-group-form input[type="text"],
.edit-group-form textarea,
.edit-comment-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.edit-group-form input[type="submit"],
.edit-comment-form button[type="submit"] {
    background-color: var(--buttoncolor);
    color: var(--inverse);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.edit-group-form input[type="submit"]:hover,
.edit-comment-form button[type="submit"]:hover {
    background-color: var(--akcent);
}

/* Button Styles */
.edit-group,
.toggle-join-option,
.generate-invite-link,
.edit-comment {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: var(--buttoncolor);
    color: var(--inverse);
    border: none;
    cursor: pointer;
}

.edit-group:hover,
.toggle-join-option:hover,
.generate-invite-link:hover,
.edit-comment:hover {
    background-color: var(--akcent);
}
.edit-button-wrapper {
    display: inline;
    justify-content: right;
    position: relative;
}

/* Invite Link Styles */
#invite-link-modal input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.copy-link {
    background-color: var(--buttoncolor);
    color: var(--background2);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.copy-link:hover {
    background-color: var(--akcent);
}

/** Editor styles **/
.edit-thumbnail div.image-wrap {
    max-width: 100%!important;
    max-height: 200px;
    overflow: hidden;
    width: 100%;
}
.edit-thumbnail div.image-wrap img{
    max-width: 100%!important;
    max-height: unset!important;
    width: 100%;
}

/** Action Buttons **/

.group-builder-button-container button:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background2, #dddddd);
    /*color: var(--inverse, #000000);*/
    padding: 5px 20px;
    border-radius: 3px;
    max-width: 300px;
    font-size: 15px;
}
.group-builder-button-container, .group-builder-button-container button {

    border-radius: 25px;
    height: 49px;
    position: relative;
}
.group-builder-join-button-container {
    text-align: center;
    margin: -10px auto 10px;
}
.group-builder-create-button-container button {
    border-radius: 3px;
    position: absolute;
    top: 7px;
    padding: 5px 20px;
    border: 1px solid var(--buttoncolor);
}
.group-builder-create-button-container button:hover,
.group-builder-join-button-container button:hover {
    background-color: var(--buttoncolor);
    color: var(--background)
}
.group-builder-join-button-container button {
    border-radius: 3px;
    padding: 5px 20px;
    border: 1px solid var(--buttoncolor);
}

div.clearfix {
    clear: both;
    width: 100%;
    display: block;
}

/** Toggle-join design für die Beitrittsoption von Gruppen **/
.toggle-join-option {
    padding: 5px 10px;
    background-color: var(--buttoncolor);
    color: var(--inverse);
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.toggle-join-option:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--buttoncolor, #dddddd);
    color: var(--inverse, #000000);
    padding: 5px 20px;
    border-radius: 3px;
    max-width: 300px;
    font-size: 15px;
    /*white-space: nowrap;*/
}
.copy-invite-link-wrapper, .leave-btn-wrapper {
    display: grid;
    grid-template-columns: auto 200px;
    border: 1px solid var(--akcent);
    border-radius: 3px;
    padding: 5px;
}
.leave-btn-wrapper {
    margin-top: 10px;
    border-color: var(--gray);
}
.leave-btn-wrapper span {
    padding: 5px;
}
.leave-btn-wrapper button:hover {
    background-color: var(--akcent);
    color: var(--background2);
}
.copy-invite-link-label {
    padding: 5px;
}



/** Adminbar **/

.custom-modal, .custom-mega-menu {
    z-index: 99!important;
}
.custom-modal-close, .custom-mega-menu-close {
    color: var(--textcolor)!important;
}
.custom-modal-close:hover, .custom-modal-close:focus,
.custom-mega-menu-close:hover, .custom-mega-menu-close:focus {
    color: var(--buttoncolor)!important;
}
.custom-modal-content, .custom-mega-menu-content {
    background-color: var(--background)!important;
    color: var(--textcolor)!important;
    border: 3px solid var(--textcolor) !important;
}
.custom-modal-content > div, .custom-mega-menu-content > div {
    overflow: auto;
    max-height: calc(100vh - 50px);
}
#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
    margin-left: 10px;
}
#wp-admin-bar-root-default .custom a.ab-item {
    color: var(--akcent);
}
#wp-admin-bar-my-account > a {
    padding-right: 20px !important;
}

/*schrift in der mobilen adminbar sichtbar machen */
@media screen and (max-width: 782px) {
    #wpadminbar .ab-label {
        border: 0;
        clip: unset;
        clip-path: unset;
        height: unset;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 200px;
        word-wrap: normal !important;
    }

}
/** Formularfelder in modals**/
.custom-modal .acf-field[data-name="group_title"] input {
    font-size: 30px;
    font-weight: bold;
}
.custom-modal .acf-field[data-name="group_goal"] textarea {
    font-size: 20px;
    font-weight: bold;
    height: 80px;
}
.custom-modal .acf-fields > .acf-field {
    border-top: 0;
}
.custom-modal .acf-label{
    font-size: 12px!important;
    color: #444;
}
.custom-modal .acf-label label{
    font-size: 16px!important;
    color: #444;
}
/** Comments **/

.single-group_post article > .ct-comments {
    margin-top: 30px;
    padding-top:0px;
}
.ct-comments-title, #reply-title {
    display: none;
}
.ct-comment-inner {
    padding-block: 10px;
    position: relative;
}
.ct-comment-inner .cld-prevent{
    color: var(--buttoncolor);
}
.ct-comment-meta{
    background: rgba(22, 127, 168, 0.15);
    border-radius: 25px 0 0 0;

}
.cld-like-dislike-wrap {
    position: absolute;
    left: 15px;
    top: 61px;
}
.cld-count-wrap {
    margin-left: 5px;
    font-weight: bold;
}


/** FEP Notificationbar **/
#fep-notification-bar {
    background-color: var(--akcent);
    border-radius: 5px;
    border: 1px solid var(--inverse);
    box-sizing: border-box;
    color: var(--inverse);
    font-size: 15px;
    font-weight: bold;
    padding: 12px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 999999;
}
#fep-notification-bar a {
    color: var(--buttontext)!important;
    text-decoration: underline;
}
#fep-notification-bar button{
    margin-top: -10px;
}

/** HEADER MENU **/
a.ct-menu-link {
    background-position: center center;
}
#offcanvas a.ct-menu-link {
    /*background-position: center left!important;*/
}
@media screen and (max-width: 782px) {
    li.menu-item:hover, li.menu-item:hover:active {
        background-color: var(--menu-indicator-hover-color, var(--theme-palette-color-2))
    }
}

/** Realtime Comment Notification Button **/

#realtime-comment-notification {
    width: 100%;
    display: grid;
    background-color: var(--buttontext);
    color: var(--background2);
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--buttoncolor);
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg,  var(--background2) 50%, var(--akcent));

}

/** ULtinate Member **/
.um .um-button.um-alt, .um input[type="submit"].um-button.um-alt {
    color: var(--background);
}
.um-directory .um-members-wrapper .um-members.um-members-grid .um-member .um-member-card .um-members-edit-btn a.um-edit-profile-btn::before {
    color: var(--background);
}
.um-members-pagination-box span.pagi:not(.pagi-arrow) {
    background-color: aliceblue;
}
.um-members-pagination-box span.current {
    background-color: var(--buttoncolor)!important;
}
.um-member-directory-search-line{
    margin-bottom: 20px ;
}
.um-member-directory-search-line input, .um-member-directory-search-line button{
    border-radius: 3px!important;
    padding: 14px !important;;
}
.um-field.um-field-export_data {
    display: none;
}

/** Termine **/
.main-events-lists {
    max-height: 450px;
    overflow: auto;
}

.event-entry {
    display: block;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    font-size: 16px;
    position: relative;
}
.event-entry .delete-event {
    position: absolute;
    right: 20px;
    z-index: 2;
}
.event-entry .delete-event .dashicons-trash {
    color: var(--darkgray);
    font-size: 16px;
}
.event-entry.member-event {
    background-image: linear-gradient(90deg,  var(--background2) 40%, var(--akcent));
}

.event-entry.public-event {
    background-image: linear-gradient(90deg,  var(--background2) 40%, var(--lightskyblue));
}

.event-entry .date-row {
    display: grid;
    grid-template-columns: 59px auto;
    grid-column-gap: 20px;
    align-items: center;
    margin-bottom: 10px ;
    opacity: 0.7;
}
.event-entry .calendar-button {
    height: 50px;
    color: var(--akcent);
}
.event-entry .dashicons {
    font-size: 38px;
    /*color: var(--buttoncolor);*/
}
.event-entry .date{
    font-size: 28px;
    font-weight: bold;
    line-height: 25px;
    /*letter-spacing: 0.1em;*/
}
.event-entry .weekday{
    font-size: 20px;
}
.event-entry .description-row {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10px;
}
.event-entry .event-title{
    font-weight: bold;
}
.event-entry.my-group-event {
    color: teal;
}

.event-entry .time{
    /*font-weight: bold;*/
}
@media screen and (max-width: 782px) {
    .event-entry .date-row {
        margin-bottom: 0px;
        grid-template-columns: 40px auto;
    }
    .event-entry .dashicons {
        font-size: 50px;
    }
    .event-entry .date{
        font-size: 20px;
        line-height: 18px;
        letter-spacing: 0;
    }
    .event-entry .weekday{
        font-size: 18px;
    }

}

/** Comments **/
.sce-edit-comment .sce-timer, .sce-edit-comment .sce-seperator {
    display: none;
}
.sce-comment-edit-buttons-group button.sce-comment-save {
    background-color: var(--buttoncolor)!important;
    color: var(--buttontext)!important;;
    border: none;
    padding: 5px 10px;
    cursor: pointer;

}


#invite-message-container {
    margin: 50px;
    font-size: 2em;
}